openapi: 3.2.0
info:
  title: Zen Planner People API
  version: v1
  description: Modeled OpenAPI description of the Zen Planner API, published on the Daxko Partners platform.
  contact:
    name: Daxko Partners
    url: https://docs.partners.daxko.com/
servers:
- url: https://api.partners.daxko.com/api/v1
  description: Daxko Partners production base URL for the Zen Planner API
security:
- oauth2: []
tags:
- name: People
paths:
  /people:
    get:
      operationId: listPeople
      summary: Retrieve people
      description: Retrieve a page of people (members and contacts) for the account.
      tags:
      - People
      responses:
        '200':
          description: A page of people.
  /people/{personId}:
    get:
      operationId: getPerson
      summary: Retrieve a person
      description: Retrieve a single person by id.
      tags:
      - People
      parameters:
      - name: personId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A person record.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 against the Daxko Partners token service. Partner/API access tokens are obtained from https://api.partners.daxko.com/v3/partners/oauth2/token and member tokens from https://operations.oauth2.partners.daxko.com/token.
      flows:
        clientCredentials:
          tokenUrl: https://api.partners.daxko.com/v3/partners/oauth2/token
          scopes: {}
