openapi: 3.2.0
info:
  title: Zen Planner Classes API
  version: v1
  description: Modeled OpenAPI description of the Zen Planner API, published on the Daxko Partners platform.
  contact:
    name: Daxko Partners
    url: https://docs.partners.daxko.com/
servers:
- url: https://api.partners.daxko.com/api/v1
  description: Daxko Partners production base URL for the Zen Planner API
security:
- oauth2: []
tags:
- name: Classes
paths:
  /classes:
    get:
      operationId: listClasses
      summary: Retrieve classes
      description: Retrieve class information including schedules and details about class types. Confirmed endpoint from the public Zen Planner reference.
      tags:
      - Classes
      responses:
        '200':
          description: A list of classes.
  /classes/people/{personId}/reservations:
    get:
      operationId: listPersonReservations
      summary: Retrieve a person's class reservations
      description: Retrieve the list of reserved classes for a person. Confirmed endpoint from the public Zen Planner reference.
      tags:
      - Classes
      parameters:
      - name: personId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of class reservations for the person.
  /classes/people/{personId}/attendances:
    get:
      operationId: listPersonAttendances
      summary: Retrieve a person's class attendances
      description: Retrieve the list of class attendances (check-ins) for a person. Confirmed endpoint from the public Zen Planner reference.
      tags:
      - Classes
      parameters:
      - name: personId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of class attendances for the person.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 against the Daxko Partners token service. Partner/API access tokens are obtained from https://api.partners.daxko.com/v3/partners/oauth2/token and member tokens from https://operations.oauth2.partners.daxko.com/token.
      flows:
        clientCredentials:
          tokenUrl: https://api.partners.daxko.com/v3/partners/oauth2/token
          scopes: {}
